#root {
  /* background: rgb(10,25,41); */
  background: rgb(6, 16, 26);
  /* background: black; */
  background-image: fixed;
  height: 100%;
  color: white;
}

.hiThere {
  opacity: 0;
  transition: 2s opacity;
}

.fadeIn {
  opacity: 1;
}

#nameInput, #messageInput, #emailInput {
  color: white;
}